html { overflow-x: hidden; }

body {
    margin: 0;
    padding: 0;
    background: #fefdf8;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    line-height: 2em;
    overflow-x: hidden;
}

.tm-header {
    background-color: #38d39f;
    color: white;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 400px;
    overflow-y: visible;     
}

.tm-header-wrapper {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 30px;
    width: 100%;
    height: 100%; 
}


.tm-header-wrapper::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.tm-site-header {
    margin-top: 50px;
    margin-bottom: 70px;
}

.tm-site-logo {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: white;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.tm-site-logo i { color: #0CC; }


.tm-main {
    margin-left: 400px;
    padding: 80px 100px 25px;
}

.tm-post { max-width: 470px; }

.tm-row {
    max-width: 980px;
    justify-content: space-between;
}

.tm-nav { margin-bottom: 70px; }

.tm-nav-item {
    list-style: none;
    margin-bottom: 30px;
}
.tm-nav-item-collapse{
    list-style: none;
    margin-bottom: 30px;
}

.tm-nav-item-opciones {
    list-style: none;
}


.tm-nav-link {
    color: white;
    text-decoration: none;
    background-color: transparent;
    height: 75px;
    width: 100%;
    max-width: 300px;    
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    padding: 30px;
}

.tm-nav-link-opciones {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    border-radius: 10px;
    text-decoration: none;
    background-color: transparent;
    height: 75px;
    width: 100%;
    margin-left: 50px;
    max-width: 300px;    
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    padding: 30px;
}


.tm-nav-item:hover .tm-nav-link,
.tm-nav-item.active .tm-nav-link
{
    color: #0CC;
    background-color: white;
    border-radius: 10px;
    text-decoration: none;
}

.tm-nav-item-collapse:hover .tm-nav-link,
.tm-nav-item-collapse.active .tm-nav-link
{
    color: #0CC;
    background-color: white;
    border-radius: 10px;
    text-decoration: none;
}

.tm-nav-item-opciones:hover .tm-nav-link-opciones,
.tm-nav-item-opciones.active .tm-nav-link-opciones
{
    color: #0CC;
    background-color: white;
    text-decoration: none;
}

.tm-nav ul { position: relative; }

.tm-nav-item:hover:after,
.tm-nav-item.active:after {
    content: '';
    width: 100%;
    max-width: 300px;    
    height: 75px;
    display: block;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: -65px;
    position: absolute;
    z-index: -1000;
}

#transferencias-collapse{
    background: #38d39f;
    margin-bottom: -10px;
}

.tm-nav-item-collapse:hover:after,
.tm-nav-item-collapse.active-:after {
    content: '';
    width: 100%;
    max-width: 300px;    
    height: 75px;
    display: initial;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: -65px;
    position: absolute;
    z-index: -1000;
}

.tm-nav-item-opciones:hover:after,
.tm-nav-item-opciones.active:after{
    content: '';
}

.tm-nav-link i { margin-right: 37px; }
.tm-nav-link-opciones i { margin-right: 37px; }

ul { 
    margin: 0; 
    padding: 0;
}

.tm-nav { margin-left: -30px; }

.tm-social-link {
    display: inline-block;
    background-color: white;    
    font-size: 1.4rem;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 8px; 
    margin-right: 15px;   
    margin-bottom: 15px;
}

.tm-social-icon { 
    color: #0CC;    
    transition: all 0.3s ease;
}

.tm-social-link:hover .tm-social-icon.fa-facebook { color: #3b5998; }
.tm-social-link:hover .tm-social-icon.fa-twitter { color: #00acee; }
.tm-social-link:hover .tm-social-icon.fa-instagram { color: #3f729b; }
.tm-social-link:hover .tm-social-icon.fa-linkedin { color: #0e76a8; }
.navbar-toggler { display: none; }

.tm-row {
    max-width: 1500px;
}

.tm-main {
    margin-left: 400px;
    padding: 80px 100px 25px;
}

#infoUsuarioo{
    justify-content: end;
    margin-bottom: 30px;
}

#infoUsuario{
    display: contents;
}

#nombreUsuario{
    font-size: 1.5rem;
    color: #777;
    margin-right: 35px;
    border-right: 1px solid green;
    padding-right: 35px;
    /* display: contents; */
}

#btnSalir{
    height: 40px;
}

#titulo{
    font-size: 2rem;
    color: #777;
    margin-top: 30px;
    border-bottom: 2px solid green;
    border-radius: 5px;
}

#resumenT{
    background: #D8FFE9;
    border: 1px solid green;
    border-radius: 10px;
}

.fn-resumen{
    color: #777;
    margin-bottom: -9px;
}

/******************** Inicio Crear contactos  *********************/

#registrarContactos{
    background: #ECFEF0;
    max-width: 1000px;
    border: 1px solid green;
    border-radius: 10px;
}

.cnText{
    font-size: 17px;
    color: #777;
    margin-bottom: -1px;
}

.cnTitulo{
    font-size: 18px;
    font-weight: bold;
    color: rgb(3, 82, 3);
    margin-bottom: -18px;
}

/******************** Fin Crear contactos  *********************/


@media (max-width: 1300px) {
    .tm-about-col {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width: 1288px) {
    .tm-social-link { margin-right: 10px; }
}

@media (max-width: 1199px) {
    .tm-post-sidebar { max-width: 440px; }
    .form-inline .form-control.tm-search-input { width: 420px; }
}

@media (max-width: 1086px) {
    .form-inline .form-control.tm-search-input {
        width: 80%;
        margin-right: 15px;
    }
}

/* Hide sidebar */
@media (max-width: 1150px) {
    .tm-header {
        width: 320px;
        left: -320px;        
        transition: all 0.3s ease;
    }

    .tm-header.show { left: 0; }
    .tm-header-wrapper { padding: 15px; }

    .navbar-toggler {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        background-color: rgba(56, 204, 204, 0.75);
        color: white;
        padding: 10px 15px;
        transition: all 0.3s ease;
        border-radius: 0;
        top: 5px;
    }

    .tm-header.show .navbar-toggler { left: 320px; }

    .tm-main {
        margin-left: 0;
        padding: 50px 40px;
        width: 100%;
    }

    .tm-post-sidebar {
        margin-left: 0;
        margin-right: auto;
    }

    .tm-person-col { width: 50%; }
    .tm-person { flex-direction: row; }

    .tm-contact-left {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .tm-contact-right {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .tm-post-full { max-width: none; }
}

@media (max-width: 767px) {
    .form-inline .form-control.tm-search-input {
        width: 70%;
        max-width: 375px;
        margin-right: 15px;
    }

    .tm-search-form { justify-content: flex-start; }
    .tm-main { padding: 60px 10px; }

    .tm-prev-next-wrapper,
    .tm-paging-wrapper {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .tm-paging-wrapper { 
        margin-top: 50px; 
        justify-content: flex-start;
    }

    .tm-copyright { text-align: left; }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .tm-person-col,
    .tm-contact-left,
    .tm-contact-right {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .tm-contact-right { padding-left: 15px; }

    .tm-post-col,
    .tm-aside-col {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .tm-post-sidebar {
        margin-left: 0;
        margin-right: auto;
    }
}

@media (max-width: 709px) {
    .tm-person-col { width: 100%; }
}

@media (max-width: 991px) and (min-width: 826px) {
    .tm-about-col {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }

    .tm-person { flex-direction: row; }
}

@media (max-width: 630px) {
    .tm-contact-left,
    .tm-contact-right {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .tm-contact-right { padding-left: 15px; }
}

@media (max-width: 575px) {
    .tm-contact-form input, 
    .tm-contact-form textarea {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .tm-person-col { width: 100%; }
    .tm-person { flex-direction: row; }
}

@media (max-width: 380px) {
    .tm-person img { max-width: 120px; }
}
/* ********************** */